os:
  - osx
  - linux
env:
  - GOPATH=/tmp GAUGE_SOURCE_BUILD=true GAUGE_TELEMETRY_ENABLED=false GAUGE_PREFIX=/tmp
addons:
  apt:
    packages:
      - oracle-java8-set-default
install:
  - curl -sSfL https://raw.githubusercontent.com/getgauge/infrastructure/master/nightly_scripts/install_latest_gauge_nightly.sh | bash
  - export PATH=/tmp/bin:$PATH
  - gauge install screenshot
  - gauge config gauge_repository_url  https://raw.githubusercontent.com/getgauge/gauge-nightly-repository/master/
  - bundle install

language: ruby

rvm:
  - 2.3.0

script:
  - bundle exec rake spec install force_install
  - git clone --depth=1 https://github.com/getgauge/gauge-tests
  - cd gauge-tests
  - gauge install
  - gauge version
  - java -version
  - ./gradlew clean rubyFT
