name: tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  tests:
    name: Run UTs on ${{ matrix.ruby_version }} + ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        ruby_version: ['2.7', '3.0', '3.1', '3.2']
      fail-fast: false
    steps:

      - uses: actions/checkout@v3

      - name: debug
        run: |
          node -e "console.log(JSON.stringify(process.env, null, '  '))"

      - name: Set up Ruby ${{ matrix.ruby_version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}

      - name: Run tests
        run: |
          bundle install
          bundle exec rake spec

      - if: failure()
        run: |
          find . -name mkmf.log -exec cat {} \;
          find . -name gem_make.out -exec cat {} \;

  fts:
    name: Run FTs on ${{ matrix.ruby_version }} + ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: tests
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        ruby_version: ['2.7', '3.0', '3.1', '3.2']
      fail-fast: false

    steps:
      - uses: actions/checkout@v3

      - name: Setup env
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          $COMMIT_HASH = node -e "console.log((process.env.GITHUB_HEAD_REF || process.env.GITHUB_REF).replace(/refs\/heads\//,''))"
          $ruby_plugin_path = (pwd).Path
          echo "RUBY_PLUGIN_BRANCH=$COMMIT_HASH" >> $env:GITHUB_ENV
          echo "LOCAL_RUBY_PLUGIN_PATH=$ruby_plugin_path" >> $env:GITHUB_ENV

      - name: Setup env
        if: matrix.os != 'windows-latest'
        run: |
          export COMMIT_HASH=`node -e "console.log((process.env.GITHUB_HEAD_REF || process.env.GITHUB_REF).replace(/refs\/heads\//,''))"`
          echo "RUBY_PLUGIN_BRANCH=$COMMIT_HASH" >> $GITHUB_ENV
          echo "LOCAL_RUBY_PLUGIN_PATH=$(pwd)" >> $GITHUB_ENV

      - name: Set up Ruby ${{ matrix.ruby_version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}

      - name: Setup go 1.20.x
        uses: actions/setup-go@v4
        with:
          go-version: ^1.20

      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      - uses: getgauge/setup-gauge@master
        with:
          gauge-version: master

      - name: Install gauge ruby
        run: |
          go run -mod=readonly build/make.go
          go run -mod=readonly build/make.go --install

      - name: Run tests
        run: |
          git clone --depth=1 https://github.com/getgauge/gauge-tests
          cd gauge-tests
          gauge install
          gauge -v
          ./gradlew clean rubyFT

      - uses: actions/upload-artifact@master
        if: failure() || cancelled()
        with:
          name: fts-logs-${{ matrix.os }}-ruby-${{ matrix.ruby_version }}
          path: gauge-tests/logs

  lsp-tests:
    name: Run lsp on ${{ matrix.ruby_version }} + ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: tests
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        ruby_version: ['2.7', '3.0', '3.1', '3.2']
      fail-fast: false

    steps:
      - uses: actions/checkout@v3

      - name: Setup env
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          $COMMIT_HASH = node -e "console.log((process.env.GITHUB_HEAD_REF || process.env.GITHUB_REF).replace(/refs\/heads\//,''))"
          $ruby_plugin_path = (pwd).Path
          echo "RUBY_PLUGIN_BRANCH=$COMMIT_HASH" >> $env:GITHUB_ENV
          echo "LOCAL_RUBY_PLUGIN_PATH=$ruby_plugin_path" >> $env:GITHUB_ENV

      - name: Setup env
        if: matrix.os != 'windows-latest'
        run: |
          export COMMIT_HASH=`node -e "console.log((process.env.GITHUB_HEAD_REF || process.env.GITHUB_REF).replace(/refs\/heads\//,''))"`
          echo "RUBY_PLUGIN_BRANCH=$COMMIT_HASH" >> $GITHUB_ENV
          echo "LOCAL_RUBY_PLUGIN_PATH=$(pwd)" >> $GITHUB_ENV

      - name: Set up Ruby ${{ matrix.ruby_version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}

      - name: Setup go 1.20.x
        uses: actions/setup-go@v4
        with:
          go-version: ^1.20

      - uses: getgauge/setup-gauge@master
        with:
          gauge-version: master

      - name: Install gauge ruby
        run: |
          go run -mod=readonly build/make.go
          go run -mod=readonly build/make.go --install

      - name: Prepare lsp tests
        run: |
          git clone --depth=1 https://github.com/getgauge/gauge-lsp-tests
          cd gauge-lsp-tests
          npm install
          gauge install

      - name: Run lsp tests
        run: |
          cd gauge-lsp-tests
          gauge -v
          gauge run  --tags='!knownIssue & (actions_on_project_load | actions_on_file_edit)' --env=ruby-wd

      - uses: actions/upload-artifact@master
        if: failure() || cancelled()
        with:
          name: lsp-logs-${{ matrix.os }}-ruby-${{ matrix.ruby_version }}
          path: gauge-lsp-tests/logs